/*== CUSTOM FONTS ==*/
@font-face {
  font-family: "friz_quadrata";
  src: url("/fonts/Friz-Quadrata-Std Medium.otf") format("opentype");
}

/*== BODY ==*/
body {
  background-color: #0b2253;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*== MAIN ==*/
main {
  flex: 1 0 auto;
}

/*== TITLE ==*/
#title-link {
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 300;
  padding-left: 15px;
}

/*== NAV FOOTER ==*/
